data/not_merged/pt_100/Background/x_data.npy
data/not_merged/pt_100/Background/y_data.npy
data/not_merged/pt_100/Signal/x_data.npy
data/not_merged/pt_100/Signal/y_data.npy
data/not_merged/pt_400/Signal/x_data.npy
data/not_merged/pt_400/Signal/y_data.npy
data/not_merged/set_01/Background/x_data.npy
data/not_merged/set_01/Background/y_data.npy
data/not_merged/set_01/Signal/x_data.npy
data/not_merged/set_01/Signal/y_data.npy
data/not_processed/TopTaggingx_test.npy
data/not_processed/TopTaggingx_train.npy
data/not_processed/TopTaggingx_val.npy
data/not_processed/TopTaggingy_test.npy
data/not_processed/TopTaggingy_train.npy
data/not_processed/TopTaggingy_val.npy
data/not_processed/DataSet_01/test/x_data.npy
data/not_processed/DataSet_01/test/y_data.npy
data/not_processed/DataSet_02/test/x_data.npy
data/not_processed/DataSet_02/test/y_data.npy
data/not_processed/TopTagging/1_top_tagging_2M.npz
data/not_processed/TopTagging/test/x_data.npy
data/not_processed/TopTagging/test/y_data.npy
data/not_processed/TopTagging/train/x_data.npy
data/not_processed/TopTagging/train/y_data.npy
data/not_processed/TopTagging/val/x_data.npy
data/not_processed/TopTagging/val/y_data.npy
data/not_processed/merged/Background/x_data.npy
data/not_processed/merged/Background/y_data.npy
data/not_processed/merged/Signal/x_data.npy
data/not_processed/merged/Signal/y_data.npy
data/not_processed/pt_100/test/x_data.npy
data/not_processed/pt_100/test/y_data.npy
data/not_processed/pt_400/test/x_data.npy
data/not_processed/pt_400/test/y_data.npy
data/not_processed/set_01/test/x_data.npy
data/not_processed/set_01/test/y_data.npy
data/preprocessed/DataSet_01/test/background.png
data/preprocessed/DataSet_01/test/signal.png
data/preprocessed/DataSet_01/test/y_data.npy
data/preprocessed/DataSet_01/test/z_data.npy
data/preprocessed/DataSet_01/test/background/Background.png
data/preprocessed/DataSet_01/test/signal/Signal.png
data/preprocessed/DataSet_02/test/Background.png
data/preprocessed/DataSet_02/test/Signal.png
data/preprocessed/DataSet_02/test/y_data.npy
data/preprocessed/DataSet_02/test/z_data.npy
data/preprocessed/TopTagging/test/background.png
data/preprocessed/TopTagging/test/signal.png
data/preprocessed/TopTagging/test/y_data.npy
data/preprocessed/TopTagging/test/y_test.npy
data/preprocessed/TopTagging/test/z_data.npy
data/preprocessed/TopTagging/test/z_test.npy
data/preprocessed/TopTagging/train/background.png
data/preprocessed/TopTagging/train/signal.png
data/preprocessed/TopTagging/train/y_data.npy
data/preprocessed/TopTagging/train/y_train.npy
data/preprocessed/TopTagging/train/z_data.npy
data/preprocessed/TopTagging/train/z_train.npy
data/preprocessed/TopTagging/val/background.png
data/preprocessed/TopTagging/val/signal.png
data/preprocessed/TopTagging/val/y_data.npy
data/preprocessed/TopTagging/val/y_val.npy
data/preprocessed/TopTagging/val/z_data.npy
data/preprocessed/TopTagging/val/z_val.npy
data/preprocessed/pt_100/test/Background.png
data/preprocessed/pt_100/test/Signal.png
data/preprocessed/pt_100/test/y_data.npy
data/preprocessed/pt_100/test/z_data.npy
data/preprocessed/pt_400/test/Background.png
data/preprocessed/pt_400/test/Signal.png
data/preprocessed/pt_400/test/y_data.npy
data/preprocessed/pt_400/test/z_data.npy
data/preprocessed/set_01/test/Background.png
data/preprocessed/set_01/test/Signal.png
data/preprocessed/set_01/test/y_data.npy
data/preprocessed/set_01/test/z_data.npy
test_results/ConvNet2D_10000/pred_hist.png
test_results/ConvNet2D_10000/results.csv
test_results/ConvNet2D_10000/roc_curve_inv_fpr.png
test_results/ConvNet2D_10000/roc_curve.png
test_results/ConvNet2D_10000/scatter.png
test_results/ConvNet2D_10000/std_hist.png
test_results/ConvNet2D_10000/train_val_loss.png
test_results/ConvNet2D_50000/pred_hist.png
test_results/ConvNet2D_50000/results.csv
test_results/ConvNet2D_50000/roc_curve_inv_fpr.png
test_results/ConvNet2D_50000/roc_curve.png
test_results/ConvNet2D_50000/scatter.png
test_results/ConvNet2D_50000/std_hist.png
test_results/ConvNet2D_50000/train_val_loss.png
trained_models/BayesConvNet2D_50000/hyper_parameter.pkl
trained_models/BayesConvNet2D_50000/state.pth
trained_models/BayesConvNet2D_50000/stats.pkl
trained_models/ConvNet2D/hyper_parameter.pkl
trained_models/ConvNet2D/state.pth
trained_models/ConvNet2D/stats.pkl
trained_models/ConvNet2D_10000/hyper_parameter.pkl
trained_models/ConvNet2D_10000/state.pth
trained_models/ConvNet2D_10000/stats.pkl
trained_models/ConvNet2D_50000/hyper_parameter.pkl
trained_models/ConvNet2D_50000/state.pth
trained_models/ConvNet2D_50000/stats.pkl
trained_models/FullyConnected/hyper_parameter.pkl
trained_models/FullyConnected/state.pth
trained_models/FullyConnected/stats.pkl
trained_models/FullyConnected/training_stats.csv
trained_models/FullyConnected/trn_losses.npy
trained_models/FullyConnected/val_losses.npy
trained_models/FullyConnected_50000/hyper_parameter.pkl
trained_models/FullyConnected_50000/state.pth
trained_models/FullyConnected_50000/stats.pkl
Untitled-1.ipynb
debug_pad.ipynb
